@{
    ViewBag.Title = "Help";
}
<h2>@ViewBag.Title.</h2>
<style>
     th, td {
        border: 1px solid black;
        height:50px;
        padding:5px;
    }
</style>
<div class="block">
    <table>
        <tr>
            <td>
                Please Register if you are a new user.
            </td>
        </tr>
        <tr>
            <td>
                My Site provides 3 different Roles: Administrator, Developer, User.
            </td>
        </tr>
        <tr>
            <td>
                Administrator can Archive and Delete and View the Stories. He/ She can also View the List of StoryBlocks and Collages. He/ She can also Unarchive the Stories. 
            </td>
        </tr>
        <tr>
            <td>
                Developer can Create the Story, Edit and View the Stories.
                He/She can also create the Collages and assign them to story. Edit , View, Delete the existing Collages.
                He/She can also create the Story Blocks assign them to Collage, Upload Images, Edit Story Blocks, View the details of Existing Story Blocks.
            </td>
        </tr>
        <tr>
            <td>
                User can view the Existing Stories, Collages and their respective Story Blocks.
            </td>
        </tr>
        <tr>
            <td>
                The Details Page in the Story and Collage pages shows the list of story blocks along with their images.
            </td>
        </tr>
        <tr>
            <td>
                SlideShow link in the story index page takes you to the slide show of the list of images in the story.
            </td>
        </tr>
    </table>
</div>

