@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Story Maker</h1>
    <p class="lead">Story Maker is a website built using Asp.Net MVC. This site enables you to create a story. Upload Images and story blocks. Forms a collage and multiple collages can be viewed as one story. You can also view all the story blocks as a slide show.</p>
</div>
<div class="block">
    <div class="row">
        <div class="col-md-4">
            <h2>Want to Provide feedback?</h2>
            <p>Thank you for visiting my site. Please provide some feedback. Hope to see you soon</p>
            <p><a class="btn btn-default" href="mailto:rnethi@syr.edu?Subject=Feedback%20Email">Click Here </a></p>
        </div>
        <div class="col-md-4">

        </div>
            <div class="col-md-4">
                <h2>Resources</h2>
                <p>W3Schools is a web developers site, with tutorials and references on web development languages such as HTML, CSS, JavaScript, PHP, SQL, and JQuery, covering most aspects of web programming.</p>
                <p><a class="btn btn-default" href="http://www.w3schools.com/">Learn more &raquo;</a></p>
            </div>
        </div>
</div>
