
<!DOCTYPE html>
<html>
<head>
    <title>Styling the article element</title>
</head>
<body>
    <header>Diagram Page</header>
</body>
</html>



<div>
    <br />
    <label for="img" >Entity Relationship Diagram for Story Maker</label>
    <br />
    <img src="@Url.Content(@ViewBag.path1)" alt="" height="500px" width="1000px" />

    <br /><br />
    <label for="img">PageFlow Diagram for Story Maker</label>
    <br />
    <img src="@Url.Content(@ViewBag.path2)" alt="" height="500px" width="1200px" />
</div>